/**
* @Author: lisnb
* @Date:   2017-01-14T00:08:42+08:00
* @Email:  lisnb.h@hotmail.com
* @Last modified by:   lisnb
* @Last modified time: 2017-01-14T12:03:11+08:00
*/

html, body {
  height: 100%;
  background: black;
  margin: 0;
  padding: 0;
  color: white;
}


#canvas-panel div {
  margin-left: auto;
  margin-right: auto;
}

#operate-panel {
  margin-top: 30px;
}
